<html>
<head>
<title>
Twitter sentiment analysis 
</title>
</head>
<form method="POST" action="http://127.0.0.1:5000/result" background="b1.png">

<h2 style="font-family:courier;color:#1DA1F2">
<div>Search for: <input type="text" name="searchFor"> </div> <br>
<div>Count:      <input type="text" name="count"> <br>
<br> <br>
<img src="/static/b1.png" align="middle">
<input type="submit" name="Show" value="Show" style="background-color:white; font-size:24px;font-family:arial; color:#1DA1F2">
</h2>
</form>
